@font-face {
  font-family: "iconfont"; /* Project id 4175636 */
  src: url('iconfont.woff2?t=1692278358806') format('woff2'),
       url('iconfont.woff?t=1692278358806') format('woff'),
       url('iconfont.ttf?t=1692278358806') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quxiao-01:before {
  content: "\e60b";
}

.icon-dingwei:before {
  content: "\e629";
}

.icon-18huidaodingbu:before {
  content: "\e635";
}

.icon-gongneng:before {
  content: "\e875";
}

.icon-xiajiantou:before {
  content: "\e611";
}

.icon-sousuo:before {
  content: "\e70a";
}

.icon-fenlei:before {
  content: "\e638";
}

